body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 500px;
    padding-bottom: 100px;
}

.hero-section{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}


h1{
    font-size: 50px;
    font-weight: 600;
    
}

h1 span{
    color: orangered;
}

p{
    padding-bottom: 20px;
}

.anchor-botton{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 30px;
    color: #fff;
    font-weight: 500;
    border-radius: 7px;
}

.half-width img{
    width: 100%;
    margin-top: 10%;
}

.second-section{
    background-image:url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}

.experiences-area div{
    color: aqua;
    box-shadow: 5px 5px 40px lightgray;
    height: 70%;
    padding-right: 20px;
    
}

.experiences-area h1{
    text-align: center;
    color: lightyellow;
}

.experiences-area h2{
    font-size: 40px;
    font-weight: 600;
}

.experiences-area h3{
    color: orange;
    font-size: 20px;
    font-weight: 500;
}

#full-stack{
    background-color: green;
    border-left: 7px solid orangered;
    border-right: 7px solid orangered;
    border-radius: 30px;
}

footer{
    text-align: center;
    margin: 20px auto; 
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 600;
    color: brown;
    
}

